@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme (default) */
:root {
  --background: 251 251 251;
  --foreground: 44 58 64;

  --primary: 195 220 219;
  --primary-foreground: 44 58 64;

  --secondary: 209 226 245;
  --secondary-foreground: 44 58 64;

  --accent: 253 223 216;
  --accent-foreground: 44 58 64;
}

.dark {
  --background: 15 23 32;
  --foreground: 251 251 251;

  --primary: 143 189 186;
  --primary-foreground: 15 23 32;

  --secondary: 90 120 166;
  --secondary-foreground: 251 251 251;

  --accent: 217 167 160;
  --accent-foreground: 15 23 32;
}
